@page "/Account/Manage/PersonalData"

@using Microsoft.AspNetCore.Identity
@using Webionic.BloodPressure.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Persönliche Daten</PageTitle>

<StatusMessage />
<h3>Persönliche Daten</h3>

<div class="row">
    <div class="col-md-6">
        <p>Dein Konto enthält persönliche Daten, die du uns mitgeteilt hast. Auf dieser Seite kannst du diese Daten herunterladen oder löschen.</p>
        <p>
            <strong>Das Löschen dieser Daten entfernt dein Konto dauerhaft und kann nicht rückgängig gemacht werden.</strong>
        </p>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <button class="btn btn-primary" type="submit">Herunterladen</button>
        </form>
        <p>
            <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">Löschen</a>
        </p>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user  = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
        }
    }
}
