@using Microsoft.AspNetCore.Identity
@using Webionic.BloodPressure.Data

@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column gap-1">
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">
            <i class="bi bi-person"></i> Profil
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/Email">
            <i class="bi bi-envelope"></i> E-Mail
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/ChangePassword">
            <i class="bi bi-key"></i> Passwort
        </NavLink>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/ExternalLogins">
                <i class="bi bi-link-45deg"></i> Externe Anmeldungen
            </NavLink>
        </li>
    }
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/TwoFactorAuthentication">
            <i class="bi bi-shield-lock"></i> Zwei-Faktor-Authentifizierung
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/Passkeys">
            <i class="bi bi-fingerprint"></i> Passkeys
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/PersonalData">
            <i class="bi bi-database"></i> Persönliche Daten
        </NavLink>
    </li>
</ul>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
